aiohttp            
aiosignal          
async-timeout      
attrs              
certifi            
cffi               
charset-normalizer 
discord.py         
dnspython          
frozenlist         
idna               
multidict          
pip                
pycparser          
pymongo            
PyNaCl             
requests           
setuptools         
urllib3            
wheel              
yarl               
youtube-dl         
